RacingClient/Connected Services/RacingDriverServiceRef/RacingDriverService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RacingDriverService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RacingDriverService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TeamInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BestDriver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Points" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TeamInfo" nillable="true" type="tns:TeamInfo" />
</xs:schema>