RacingClient/Connected Services/RacingDriverServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="RacingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/RacingDriverService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRacingService_GetTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="IRacingService_GetTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IRacingService_GetTeamInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamInfo" />
  </wsdl:message>
  <wsdl:message name="IRacingService_GetTeamInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IRacingService">
    <wsdl:operation name="GetTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacingService/GetTime" message="tns:IRacingService_GetTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacingService/GetTimeResponse" message="tns:IRacingService_GetTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IRacingService/GetTeamInfo" message="tns:IRacingService_GetTeamInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRacingService/GetTeamInfoResponse" message="tns:IRacingService_GetTeamInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRacingService" type="tns:IRacingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/IRacingService/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamInfo">
      <soap:operation soapAction="http://tempuri.org/IRacingService/GetTeamInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RacingService">
    <wsdl:port name="BasicHttpBinding_IRacingService" binding="tns:BasicHttpBinding_IRacingService">
      <soap:address location="http://localhost/Temporary_Listen_Addresses/racing/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>